/* Miguel Arias Guerrero UO288285*/
 /* Estilos generales del proyecto MotoGP-Desktop*/





 /* Especificidad de 001*/
 body {font-family:"Arial","Times New Roman", sans-serif;
    background-color:#FFFFFF ; color:#0D1B2A} 

/* Especificidad: 001 */
header {
  background-color:#B8B8B8 ; /* color de fondo del header, hay advertencia por el color pero se hereda de body */
}

/* Especificidad: 001 */
h1 {
  color:#0D1B2A; /* color del h1, hay advertencia por el color de fondo pero se hereda de body */
}

/* Especificidad: 001 */
nav {
  color:#0D1B2A; /* color del nav, hay advertencia por el color de fondo pero se hereda de body */
}



