/* Miguel Arias Guerrero UO288285*/
 /* Estilos generales del proyecto MotoGP-Desktop*/


main {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  gap: 1rem; /* espacio entre elementos (relativo al tamaño de fuente) */
  padding: 1rem;
}

/* El primer elemento (por ejemplo, el encabezado) ocupa toda la fila */
main h2 {
  grid-column: 1 / -1;
}


@media (max-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  }
}









